<div class="container-fluid">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= restaurant.background_url %>');">
          <div class="card-category"><%= restaurant.category %></div>
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.phone_number %></p>
          </div>
          <%= link_to '', restaurant_path(restaurant), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
