<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
        <h1><%= @restaurant.name %></h1>
        <h3>Category: <%= @restaurant.category %></h3>
        <p>Address: <%= @restaurant.address %></p>
        <p>Phone number: <%= @restaurant.phone_number %></p>
        <p><%= link_to 'Return to restaurants', restaurants_path, class: "btn btn-danger" %></p>
        <p><%= link_to 'Create a review', new_restaurant_review_path(@restaurant), class: "btn btn-danger" %></p>
        <h2>Reviews</h2>
        <div class="flexbox">
          <% reviews = @restaurant.reviews %>
            <% reviews.each do |review| %>
              <div id="review_content">
                <%= review.content %>
              </div>
              <div id="review_rating">
                <%= review.rating %>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
